@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@theme {
    --color-brandColor: #00AD95;
    --color-darkBg: #0f0f11;
    --color-darkText: #f1f1f1;
    --color-darkCardBgColor: #1a1b1f;
    --color-darkSubtext: #c4c8cd;
    --color-darkBorder: #2c2f36;
}

@custom-variant dark (&:where(.dark, .dark *));

#coffee_badge {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #02a891;
    color: #fff;
    font-weight: 500;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 30px;
}

#coffee_badge img {
    width: 30px;
}